
  <body>
<app-navbar></app-navbar>
    <section class="container">
      <div class="content__container">
        <h1>
          Project  Management<br />
          <span class="heading__1"> Zuri Management System</span><br />
          <span class="heading__2">in The Zuri</span>
        </h1>
        <p>
          Welcome to Zuri Management System, where innovation meets efficiency in the realm of comprehensive business solutions. We understand the dynamic challenges that organizations face in today's fast-paced world, and we are dedicated to providing cutting-edge management solutions to streamline your operations.
        <form>
          <input type="text" placeholder="What do you want to know" />
          
        </form>
      </div>
      <div class="image__container">
        <img src="assets/header-1.jpg" alt="header" />
        <img src="assets/header-2.jpg" alt="header" />
        
        <div class="image__content">
          <ul>
            <li>Let track our progress</li>
            <li>Meet our team</li>
          </ul>
        </div>
      </div>
 
 <!--      <div class="card">
        <img src="/ProjectManagementSystem/landing page/assets/header-2.jpg" alt="">
        <div class="content">
        <h5>Name: <span>Mary</span></h5>
        
        <h5>role: User</h5>
        </div>
        
      </div> -->
    </section>
  </body>

